* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background-color: rgba(217, 217, 217, 0.678);
    color: #333;
    transition: 0.5s;

}

body.modo_escuro{
    background-color: hsl(0, 0%, 13%);
    color: #f5f5f5;
}

header{
    background-color: rgba(129, 129, 129, 0.678);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
}

header .logo, .imagem_botao{
    transition: 0.2s ease-in-out;
    width: 30px;

}

header #botao-alterar-tema{
    background: none;
    border: none;
}

header .logo:hover, .imagem_botao:hover{
    transform: scale(1.4);
    cursor: pointer;
}

main{
    /* background-color: antiquewhite; */
    padding: 25px;
}

.listagem_pokemon{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.cartao_pokemon{
    background-color: #b1bbc2;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}

.cartao_pokemon:hover{
    background-color: #98aad5;
    transform: scale(1.1);
}

.modo_escuro .cartao_pokemon{
    background-color: #a8a8a9;
}

.modo_escuro .cartao_pokemon:hover{
    background-color: #4f5058;
}
main .cartao_pokemon .informacoes {
    display: flex;
    justify-content: space-between;
    border: 1px solid #333;
    border-radius: 10px;
}

main .cartao_pokemon .informacoes span{
    padding: 5px;
    text-transform: uppercase;
}
main .cartao_pokemon .gif{
    width: 60px;
    height: 60px;
}

main .cartao_pokemon .tipos{
    display: flex;
    gap: 15px;
}

main .cartao_pokemon .tipo{
    text-align: center;
    width: 75px;
    padding: 8px;
    border-radius: 10px;
    color: #f5f5f5;
}

.grama {
    background-color: #7ac74c;
}
.fogo{
    background-color: #ee8130;
}
.agua{
    background-color: #616db8;
}
.veneno{
    background-color: #e97ad8;
}

main .descricao{
    max-height: 80px;
    overflow-y: scroll;
    font-size: 15px;
    padding-right: 10px;
    text-align: justify;
}